@import "../../../src/scss/colors.scss";
$img-path: src/assets/images;

.loginheader {
  width: 100%;
}
.loginheader h3 {
  color: $light-pink;
  float: left;
  margin-bottom: 5px;
  margin-left: 15px;
  margin-top: 20px;
}
.loginbutton {
  float: right;
  margin-right: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.login-nav {
  position: relative;
  min-height: 50px;
  height: 75px;
  border: 1px solid transparent;
}
.sign-in {
  height: 30px;
  width: 30px;
}
.page-bg {
  background-image: url(#{$img-path}/bg.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}
