<div   [ngClass]="toggleClass" id="wrapper" >
    <div    class="profile-wrapper">
        <div    class="profile-overlay">
            <div   ><a    routerlink="personal/personaldetails" href="/ars/dashboard/personal/personaldetails">
                <div    class="profile" title="Click here to edit your profile" style="background-image: url(&quot;https://lh3.googleusercontent.com/a-/AOh14GjNphPHQMjt5tDqNiggN-vEnl2QZ-07hCAhsGOB?sz=100&quot;);">
                </div>
            </a>
            <a    routerlink="personal/personaldetails" href="/ars/dashboard/personal/personaldetails">
                <h4    class="username" title="Click here to edit your profile">Bhumika	 Kalyani</h4>
            </a>
        </div>
    </div>
</div>
<ul    class="nopadding">
    <li    class="main-li1">
        <a    class="sidebtn" routerlink="/dashboard" routerlinkactive="nav-active" href="/ars/dashboard">
            <i    aria-hidden="true" class="fa fa-calendar p-r10"></i>View Templates
        </a>
    </li><!----><!---->
    
    </ul>
</div>
